body {
    background-color: rgba(210, 210, 215, 0.961);
    margin: auto;
    max-width: max-content;
font-family: 'Lora',
serif;

}

header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

}

main {
    background-color: rgb(136, 163, 186);
    padding: 1rem;
    margin: 1rem;
    margin-top: 5rem;
    border-radius: .5rem;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.563);
    max-width: 50rem;
}

#input-1 {
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: auto max-content;
}

.wrap{
    word-wrap: break-word;
}

button.Complete {
    background-color: rgb(243, 143, 106);
    align-self: center;

}

.td-Incomplete {
    text-decoration-line: line-through;
}



h4 {
    padding: 1rem;
    margin-top: 2rem;
}

button {
    border-radius: 0.5rem;
    margin: auto 0;
}

#btn-submit {
    border-radius: 0.5rem;
    width: max-content;
    margin: auto 1rem;
}

p {
    text-align: center;
}

.buttons{
    width: max-content;
    align-self: center;  
} 