body {
    background-color: rgba(210, 210, 215, 0.961);
    margin: auto;
    width: max-content;
}


header {
    margin-top: 2rem;
}


main {
    background-color: rgb(136, 163, 186);
    padding: 1rem;
    margin: 1rem;
}


#input-1{
    width: 30rem;
}


#red{
    background-color: rgb(243, 143, 106);
}