body {
    background-color: rgba(210, 210, 215, 0.961);
    margin: auto;
    width: max-content;
font-family: 'Lora',
serif;

}


header {
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;

}

main {
    background-color: rgb(136, 163, 186);
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
}

#input-1 {
    width: 30rem;
}

button.Complete {
    background-color: rgb(243, 143, 106);
    align-self: center;

}

tr.Complete {
    text-decoration-line: line-through;
}

.task{
    text-align: right;
}



h4 {
    padding: 1rem;
    margin-top: 2rem;
}

button {
    border-radius: 0.5rem;
    margin: auto 0;
}

#btn-submit {
    border-radius: 0.5rem;
}

p {
    text-align: center;
}

.buttons{
    /* grid-column-start: 2;
    display: block; */
 align-self: center;  
} 